{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <div class="playfield">
    {% for cell in playfield.cells %}
      <div id="cell{{ forloop.counter0 }}" onclick="MakeMove(this, '{{ forloop.counter0 }}')" class="checked-{{ cell }}">{{ cell }}</div>
    {% endfor %}
  </div>
  <div class="gameover">
    <h3>{% trans "Game over" %}</h3>
    <a href="javascript:;" data-url="{% url 'game_replay' object.pk %}" class="replay">{% trans "Try again?" %}</a>
    <a href="{% url 'game_user_list' %}" class="hidden game-refused">{% trans "Back to the list of users" %}</a>
  </div>
{% endblock content %}

{% block extrajs %}
  <script type="text/javascript">
    var create_move_url = "{% url 'game_create_move' %}";
    var player = "{{ player }}";
    var game_id = {{ object.pk }};
    var current_player = "{{ current_player }}";
  </script>
{% endblock extrajs %}

{% block navbar %}
  <p class="navbar-text navbar-right">{{ user.username }} (<a href="{% url 'users_logout' %}" class="navbar-link">{% trans "logout" %}</a>)</p>
{% endblock navbar %}

{% block notifications %}
  {% include "notifications.html" with text=notification_text status=status %}
{% endblock notifications %}

