{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default" id="user-list">
      <div class="panel-heading text-center">
        <h3 class="panel-title hidden" id="title-users-exists">{% trans "Select the user to play together" %}</h3>
        <h3 class="panel-title" id="title-empty">{% trans "No users online" %}</h3>
      </div>
      <div class="list-group text-center" id="user-links"></div>
    </div>
  </div>
</div>
{% endblock content %}

{% block navbar %}
  <p class="navbar-text navbar-right">{{ user.username }} (<a href="{% url 'users_logout' %}" class="navbar-link">{% trans "logout" %}</a>)</p>
{% endblock navbar %}

{% block notifications %}
  {% include "notifications.html" %}
{% endblock notifications %}
