.game-table {
    margin: 0 auto;
    width: 450px;
    height: 450px;
    /*min-width: 0;*/
    /*text-align: center;*/
}
.game-table table {
    height: 100%;
}

.game-table td {
    /*height: 150px;*/
    /*width: 150px;*/
    /*vertical-align: middle !important;*/
}

.active-link {
    pointer-events: none;
}
