.active-link {
    pointer-events: none;
}
.game-container {
  width: 438px;
}
.playfield {
  height: 330px;
  width: 330px;
}
@media (min-width: 450px) {
  .playfield {
    width: 410px;
    height: 410px;
  }
}
.playfield div {
  background-color: #f8f8f8;
  border-radius: 14px;
  cursor: pointer;
  color: #fff;
  height: 90px;
  margin: 0 5px 10px;
  display: block;
  float: left;
  width: 90px;
  line-height: 65px;
  text-align: center;
  font-size: 125px;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (min-width: 450px) {
  .playfield div {
    height: 126px;
    line-height: 84px;
    width: 126px;
    font-size: 200px;
  }
}
.playfield div:hover {
  background-color: #3d4250;
}
.playfield div:hover:after {
  opacity: .4;
}
.playfield .checked-x {
  background-color: #dc685a;
}
.playfield .checked-o {
  background-color: #61bcc3;
}

