.active-link {
    pointer-events: none;
}
.invite-link {
  margin: 10px 5px 0 0;
}
.refuse-link {
  display: block;
  margin: 10px 0 0;
  width: 100px;
}
.game-container {
  width: 438px;
}
.playfield {
  height: 330px;
  width: 330px;
}
@media (min-width: 450px) {
  .playfield {
    width: 410px;
    height: 410px;
  }
}
.playfield div {
  background-color: #f8f8f8;
  border-radius: 14px;
  cursor: pointer;
  color: #fff;
  height: 90px;
  margin: 0 5px 10px;
  display: block;
  float: left;
  width: 90px;
  line-height: 65px;
  text-align: center;
  font-size: 125px;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (min-width: 450px) {
  .playfield div {
    height: 126px;
    line-height: 84px;
    width: 126px;
    font-size: 200px;
  }
}
.playfield div:hover {
  background-color: #3d4250;
}
.playfield div:hover:after {
  opacity: .4;
}
.playfield .checked-x {
  background-color: #dc685a;
}
.playfield .checked-o {
  background-color: #61bcc3;
}
.gameover {
  display: none;
  height: 330px;
  width: 330px;
  position: absolute;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  color: #3d4250;
  text-align: center;
  z-index: 11;
  padding-top: 40px;
  left: 0;
}
@media (min-width: 450px) {
  .gameover {
    width: 410px;
    height: 410px;
    padding-top: 80px;
    left: 13px;
  }
}
.gameover a {
  background-color: #3d4250;
  border-radius: 4px;
  color: #fff;
  padding: 14px 45px;
  text-decoration: none;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.gameover a:hover {
  background-color: #262934;
  cursor: pointer;
}
.gameover h3 {
  font-size: 40px;
  font-weight: 300;
  margin: 35px;
}
@media (min-width: 450px) {
  .gameover h3 {
    font-size: 60px;
    margin: 40px;
  }
}
