{% extends "base.html" %}
{% load widget_tweaks i18n %}
{% block content %}
  <div class="panel panel-default">
    <div class="panel-body">
      <form method="POST" action="{% url 'users_login' %}">
        {% csrf_token %}
        <div class="form-group {% if form.username.errors %}has-error{% endif %}">
          <label>{% trans "Username" %}</label>
          {{ form.username|add_class:"form-control" }}
        </div>
        <div class="form-group {% if form.password.errors %}has-error{% endif %}">
          <label>{% trans "Password" %}</label>
          {{ form.password|add_class:"form-control" }}
        </div>
        <input type="hidden" name="next" value="{% url 'game_user_list' %}">
        <button type="submit" class="btn btn-default">{% trans "Login" %}</button>
      </form>
    </div>
  </div>
{% endblock content %}

{% block navbar %}
  <ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'users_registration' %}">{% trans "Registration" %}</a></li>
  </ul>
{% endblock navbar %}

{% block notifications %}
  {% if form.errors %}
    {% trans "Your username and password didn't match. Please try again." as notification_text %}
    {% include "notifications.html" with text=notification_text status='danger' %}
  {% endif %}
  {% if messages %}
    {% for message in messages %}
      {% include "notifications.html" with text=message status='success' %}
    {% endfor %}
  {% endif %}
{% endblock notifications %}
