{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <form method="POST" action=".">
            {% csrf_token %}

            <div class="form-group {% if form.username.errors %}has-error{% endif %}">
              <label>Username</label>
              {% if form.username.errors %}
                <p class="text-danger">{{ form.username.errors.as_text|cut:'* ' }}</p>
              {% endif %}
              {{ form.username|add_class:"form-control" }}
            </div>
            <div class="form-group {% if form.password1.errors %}has-error{% endif %}">
              <label>Password</label>
              {% if form.password1.errors %}
                <p class="text-danger">{{ form.password1.errors.as_text|cut:'* ' }}</p>
              {% endif %}
              {{ form.password1|add_class:"form-control" }}
            </div>
            <div class="form-group {% if form.password2.errors %}has-error{% endif %}">
              <label>Password confirmation</label>
              {% if form.password2.errors %}
                <p class="text-danger">{{ form.password2.errors.as_text|cut:'* ' }}</p>
              {% endif %}
              {{ form.password2|add_class:"form-control" }}
            </div>
            <button type="submit" class="btn btn-default">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

